[submodule "submodules/vim-polyglot"]
	path = submodules/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "submodules/dracula-theme"]
	path = submodules/dracula-theme
	url = https://github.com/dracula/vim
[submodule "submodules/vim-airline"]
	path = submodules/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
